.footer {
  background-color: #2c3e50; /* Mesma cor do header para consistência */
  color: #ecf0f1;
  text-align: center;
  padding: 5px;
  width: 100%;
  box-sizing: border-box; /* Garante que o padding não aumente a largura total */
}